node_modules
docker/data
.DS_Store
data/
dist
heissepreise.zip
site/latest-canonical.json
latest-canonical.json
!docs/latest-canonical.json
access.log
billa-2020.csv
report.html
spar-2020.csv
tmp-dir/
site/latest-canonical*.json
