node_modules
docker/data
.DS_Store
/data/
dist
heissepreise.zip
latest-canonical.json
!docs/data/latest-canonical.json
access.log
billa-2020.csv
report.html
spar-2020.csv
tmp-dir/
site/data/latest-canonical*.json*
site/output
copy
.env
