body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search {
    margin: 20px 0;
    width: 50%;
    font-size: 1em;
}

.filters {
    margin-bottom: 1em;
}

input[type="number"] {
    max-width: 3em;
}

.results {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

th {
    border: 1px solid;
    padding: 0.2em;
    background: #aaa;
}

tr {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

td {
    padding: 0.2em;
}

th {
    text-align: left;
}