* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Helvetica;
    background: #f5f5f5;
    color: #393939;
    height: 100%;
}

a {
    color: #c9543a;
}

label {
    cursor: pointer;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 1em;
}

.header {
    border-radius: 5px;
    background-color: #c9543a;
    color: white;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    margin: 0 0 1rem 0;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 1em;
}

.menu a {
    font-size: large;
    font-weight: 900;
}

.content {
    flex: 1;
    width: 100%;
    max-width: 1200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.search {
    width: 100%;
    max-width: 900px;
    font-size: 1em;
    border-radius: 5px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(228 227 227);
    gap: 1em;
    width: 100%;
    max-width: 900px;
}

.filters {
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(228 227 227);
    width: 100%;
    max-width: 900px;
}

.chart canvas {
    background: white;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

input {
    border: 2px solid;
    padding: 0.4em;
    border-color: #ee907b;
    accent-color: #c9543a;
}

input[type="number"] {
    max-width: 6em;
    border: 2px solid;
    padding: 0.4em;
    border-color: #ee907b;
    border-radius: 5px;
}

input[type="date"] {
    border: 2px solid;
    padding: 0.4em;
    border-color: #ee907b;
    border-radius: 5px;
}

input[type="button"] {
    border: 2px solid;
    padding: 0.4em;
    border-color: #ee907b;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    border: 0px;
    flex-basis: auto;
    min-width: 0;
}

th {
    padding: 0.2em;
    text-align: left;
    background: #c9543a;
    color: white;
    border: 0px;
}

th:nth-child(1) {
    text-align: center;
}

th:nth-child(3) {
    text-align: right;
    padding: 0.7em;
}

th:nth-child(4) {
    text-align: center;
    padding: 0.6em;
}

tr {
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
}

td {
    padding: 0.2em;
}

td a {
    color: #393939;
    text-decoration: none;
}

td:nth-child(1) {
    text-align: center;
    padding: 0.5em;
}

td:nth-child(2) {
    background-color: white;
    padding: 0.4em;
}

td:nth-child(3) {
    background-color: white;
    font-size: small;
    text-align: right;
    padding-right: 0.7em;
}

td:nth-child(4) {
    padding-left: 0.5em;
}

.searchresults td:nth-child(4):before {
    content: "€ ";
}

.searchresults td:nth-child(5) > input[type="button"] {
    width: 2em;
    height: 2em;
    text-align: center;
}

.carts {
    width: auto;
}

.carts td {
    text-align: left;
    background-color: white;
}

.carts td:nth-child(2) {
    text-align: center;
}

.carts th {
    text-align: center;
}

.carts td:nth-child(3):before {
    content: "€ ";
}

.carts td:nth-child(3) {
    text-align: center;
    font-size: medium;
}

.carts td:nth-child(4) {
    padding-right: 0.5em;
}

.carts td:nth-child(4) a {
    color: #c9543a;
}

.cartactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.cartactions a {
    font-weight: 900;
}

.itemname {
    word-wrap: break-word;
    word-break: break-all;
}

.priceinfo {
    margin-top: 0;
}

.increase {
    color: red;
}

.decrease {
    color: green;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
}

#cartitems td:nth-child(4):before {
    content: "€ ";
}

#cartitems input[type="button"] {
    width: 2em;
    height: 2em;
}

.disclaimer {
    font-size: small;
    text-align: center;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    .menu a {
        font-size: medium;
    }

    .cartactions {
        justify-content: center;
    }

    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        padding: 0 0 0 0 !important;
        padding-left: calc(65px + 1.2em) !important;
        position: relative;
        display: block;
    }

    table td::before {
        /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
        content: attr(data-label);
        background-color: #c9543a;
        color: white;
        border: 0px;
        position: absolute;
        padding: 0.1em 0.4em;
        width: 65px;
        height: calc(100%);
        left: -1px;
        top: -1px;
        text-align: right;
        font-weight: bold;
        font-size: medium;
    }

    td:nth-child(1) {
        text-align: center;
        font-size: medium;
        padding: 0.5em;
    }

    td:nth-child(3) {
        background-color: white;
        font-size: medium;
        text-align: left;
        padding-right: 0.7em;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
